fastapi
uvicorn[standard]
python-multipart
pillow
pytesseract
requests
plotly
groq
google-generativeai
python-dotenv
numpy
sentence-transformers
faiss-cpu
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
python-slugify
google-auth
